Try item based collaboration

In [67]:
import pandas as pd
import numpy as np

In [68]:
def set_dataframe_data_types(df_recommender):
    df_customer_ids = df_recommender["Customer_ID"].astype("string").to_frame()
    df_products = df_recommender.drop(["Customer_ID"], axis=1)
    df_products = df_products.astype('Int64')
    df_new_recommender = df_products.assign(Customer_ID = df_customer_ids)
    return df_customer_ids, df_products, df_new_recommender

In [69]:
file_folder = "Files"
file_name = "recom_pivot.csv"
path = f"{file_folder}//{file_name}"
df_recommender = pd.read_csv(path, header=0)
df_customer_ids, df_products, df_recommender = set_dataframe_data_types(df_recommender)
df_products.head()

,5000.5,5001.0,5001.5,5002.0,5002.5,5003.0,5004.0,5004.5,5005.0,5007.0,...,200035.5,200037.0,200037.5,200038.0,200038.5,200045.5,200046.0,200046.5,200047.0,350027.5
0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,<NA>,<NA>,<NA>,1,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [80]:
#selected_product = "200019.5"
#selected_product = "5001.5"
#selected_product = "5002.0"
#selected_product = "5000.5"
selected_product = "5001.0"
df_corr = df_products.corr()
df_single_product = df_corr[selected_product].to_frame()
df_sort = df_single_product.fillna(0).sort_values(by=[selected_product], ascending=False)
print(f"If you have bought {selected_product} then you may want to consider the following products:")
df_sort.head()

If you have bought 200019.5 then you may want to consider the following products:

          200019.5
200019.5       1.0
5000.5         0.0
40054.5        0.0
40069.5        0.0
40069.0        0.0

If a person buys product 5001.0, then the recommender systems suggests that that person may want to also buy the products 40054.0, 5001.0, 40075.5, 5012.5, 25004.0. These products have very high selling correlation with product 5001.0.
However another product; 200019.5, do enot have any correlation with any other product